

.bookNowBTN{
    font-size: 0.18rem;
    background-color: var(--primary-color);
    border: none;
    color: var(--white);
    padding: 0.15rem 0.30rem;
    font-weight: 500;
    border-radius: 0.1rem;
    cursor: pointer;
}

.bookNowBTN a{
    text-decoration: none;
    color: var(--white);
  }

  @media screen and (max-width: 576px){
    .bookNowBTN{
        font-size: 0.7rem;
        padding: 0.5rem 0.60rem;
        border-radius: 0.3rem;
    }
    
  }