
.formSection{
    margin-top: 1.4rem;
}
.formSection__container{
    display: flex;
}
.formSection__contactInfo{
    background-color: var(--primary-color);
    color: white;
    width: 4.4rem;
    height: 5.6rem;
    position: relative;
    z-index: 1;
    border-radius: 0.25rem;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    margin-left: 2.5rem;
}
.formSection__contactInformation{
display: flex;
flex-direction: column;
padding: 0.45rem;

}
.formSection__contactInformation p{
    font-size: 0.3rem;
    font-weight: 500;
    padding-top: 0.1rem;
    padding-bottom: 0.25rem;
}
.formSection__contactInformation a{
text-decoration: none;
color: white;
}
.formSection__contactInformation ul{
    list-style: none;
    font-size: 0.20rem;
    padding-left: 0 !important;
    margin-bottom: 0.15rem;
}
.formSection__contactInformation ul li{
    display: flex;
    gap: 0.1rem;
    padding: 0.1rem;
    font-weight: 300;
}
.formSection__contactInformation  img{
    width: 0.35rem;
    height: 0.35rem;    
    filter: brightness(0) invert(1);
}
.socialMedia{
    display: flex; 
    gap: 0.2rem;
    padding-left: 0.5rem;
    position: relative;
    top: 0.1rem;
    margin-bottom: 0rem !important;
}
.socialMedia li{
    list-style: none;
color: white;
}
.socialMedia li img{
    list-style: none;
    filter: brightness(0) invert(1);
}
.socialMedia__linkedIN{
  position: relative;
  bottom: 0.05rem ;
}
.contactForm1 h2 {
    font-size: 0.3rem;
    color: var(--primary-color);
  }
.contactForm1{
  width: 12rem;
  height: 6.65rem;
  border-radius: 0.25rem;
  position: relative;
  bottom: 0.5rem;
  right: 2.4rem;
  padding-left: 3rem;
  padding-top: 1rem;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
}

.Map_section{
  padding-top: 0.4rem;
  margin-bottom: -0.31rem;
}

.inputsChildOne{
  display: flex;
  justify-content: space-between;
  width: 8rem;
  padding-top: 0.2rem;
}

.inputsChildOne>input{
  width: 3.6rem;
  height: 0.30rem;
  font-size: 0.25rem;
border: none;
outline: none;
border-bottom: 1px solid;
}
.inputsChildTwo{
  display: flex;
  justify-content: space-between;
  width: 8rem;
  padding-top: 0.8rem;
}
.inputsChildTwo>input{
  width: 3.6rem;
  height: 0.30rem;
  font-size: 0.25rem;
  border: none;
outline: none;
border-bottom: 1px solid;
}

textarea{
  font-size: 0.25rem;
  width: 8rem;
  padding-top: 0.2rem;
  border: none;
  resize: none;
  border-bottom:1px solid;
  outline: none;
}
.textarea{
  padding-top: 0.2rem;
}

.submit>input{
  padding: 0.135rem 0.6rem;
  font-size: 0.225rem;
  font-weight: 300;
  border: none;
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.25rem;
  position: relative;
  bottom: 0.55rem;
  left: 0.15rem;
}

input::placeholder,
textarea::placeholder{
  color: var(--secondary-color);
}

@media screen and (max-width:576px) {
  
.formSection{
  background-color: var(--primary-color);
}
.formSection__container{
  flex-direction: column-reverse;
}
.formSection__contactInfo{
  width: 88.5%;
  height: 16rem;
  margin-left: 1.45rem;
  margin-bottom: 1.25rem;
  border-radius: 0rem;
}
.formSection__contactInformation{
padding: 0.85rem;
}
.formSection__contactInformation p{
  font-size: 1.1rem;
}
.formSection__contactInformation ul{
  font-size: 0.7rem;
}
.formSection__contactInformation ul li{
  gap: 0.5rem;
  padding: 0.35rem;
}
.formSection__contactInformation  img{
  width: 1.25rem;
  height: 1.25rem;    
}
.socialMedia{
  gap: 0.6rem;
  padding-left: 1rem;
  top: 1.25rem;
}
.contactForm1 h2 {
  font-size: 1.2rem;
  position: relative;
  top: 1rem;
}
.contactForm1{
width: 88%;
height: 30rem;
border-radius: 0rem;
left: 1.5rem;
top: 1.25rem;
padding-left: 1.5rem;
padding-top: 1.5rem;
box-shadow:none;
background-color: white;

}

.inputsChildOne{
flex-direction: column;
width: 8rem;
position: relative;
top: 0.9rem;
}

.inputsChildTwo{
width: 8rem;
flex-direction: column;
padding-top: 0.8rem;
}
.inputsChildTwo>input,
.inputsChildOne>input{
  margin: 0.25rem;
  padding-top: 0.6rem;
  width: 17rem;
  height: 3rem;
  font-size: 1rem;
}

textarea{
  width: 17rem;
  height: 3rem;
font-size: 1rem;
margin: 0.35rem;
padding-top: 0.8rem;
}
.submit>input{
padding: 0.5rem 2rem;
font-size: 0.9rem;
border-radius: 0.7rem;
bottom: 0rem;
top: 2rem;
left: 0.15rem;
}

input::placeholder,
textarea::placeholder{
color: rgb(134, 129, 129);
}
}