
footer {
    background-color: black;
    height: 6.35rem;
}
.footer__container{
    width: 82%;
display: flex;
align-content: center;
margin-left: 9%;
padding-top: 1.25rem;
justify-content: space-evenly;
}

.footer__hotelName h5{
    font-size: 0.23rem;
    width: 0.1rem;
    color: rgb(255, 255, 255) !important;
}

.footer__hotelName p,
.footer__links p{
    list-style: none;
    font-size: 0.2rem;
    width: 3.4rem;
    color: var(--text-light);
}
.footer__links h5{
    font-size: 0.23rem;
    font-weight: 500;
    color: rgb(255, 255, 255)
}
.footer__links ul{
list-style: none;
font-size: 0.2rem;
padding-left: 0rem !important;
line-height: 0.5rem !important;

}
.footer__links ul li a,
.footer__links a{
    text-decoration: none;
    color: var(--text-light);
}
.footer__links a{
font-size: 0.2rem;
}
.footer__links ul li a:hover,
.footer__links a:hover{
    color: white;
    transition: 0.5s;

}
.footer__social-links i{
    color: white;
    font-size: 0.30rem;
    margin: 0.1rem;
    position: relative;
    right: 0.1rem;
    bottom: 0.5rem;  
}


.footer__social-links i:hover{
    color: var(--primary-color);
}

.footer__links p{
padding-top: 0.25rem;
position: relative;
bottom: 0.2rem;
}
.footer__bookNowBTN{
    position: relative;
    bottom: 0.5rem;
}
.footer__copyRight{
    padding-top: 0.18rem;
    font-size: 0.175rem;
    color: var(--text-light);
text-align: center;
}


@media screen and (max-width:576px) {
    
footer {
    height: auto;
}
.footer__container{
flex-direction: column;
margin-left: 6%;
}

.footer__hotelName h5{
    font-size: 0.85rem;
    margin-top: 1rem;
}

.footer__hotelName p,
.footer__links p{
    font-size: 0.7rem;
    width: 23rem;
}
.footer__links h5{
    font-size: 0.9rem;
    margin-top: 1.25rem;
}
.footer__links ul{
font-size: 5rem;
}
.footer__links a{
font-size: 0.8rem;
}
.footer__social-links i{
    font-size: 1.22rem;
    right: 0.55rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
}
.footer__bookNowBTN{
margin-top: 1.5rem;
}
.footer__copyRight{
    padding-top: 2rem;
    font-size: 0.6rem;
    padding-bottom: 1rem;
}
}