*{
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p{
  margin: 0px !important;
}

:root {
  --primary-color: #e82574;
  --primary-color-dark: #bc1c5c;
  --text-dark: #0c0a09;
  --text-light: #78716c;
  --white: #ffffff;
  --blue : blue;
}

html{
font-size: 5.33vw;

}


